@charset "utf-8";
/* 주메뉴 */
.nav {
  position: fixed;
  top: 0;
  left: 100%;
  width: 450px;

  height: 100vh;
  background-color: rgba(0, 0, 0, 0.84);
  z-index: 999999;
  padding: 50px;
  transition: all 0.3s ease-in-out;
}
.nav-active {
  left: calc(100% - 450px);
}
.nav-close {
  position: absolute;

  top: 20px;
  right: 30px;
  display: block;
  width: 23px;
  height: 23px;
  background: url("../images/close2.png") no-repeat center;
  cursor: pointer;
  border: 0;
  font-size: 0;
}
.gnb {
  position: relative;
  display: block;
}
.gnb > li {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 20px;
}
.gnb > li > a {
  display: block;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -0.9px;
  color: #fff;
}
.depth2 {
  position: relative;
  display: block;
  width: 180px;
}
.depth2 > li {
  position: relative;
  display: block;
  padding-bottom: 20px;
}
.depth2 > li > a {
  position: relative;
  display: block;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: -0.75px;
  color: #fff;
}
/* 상단 */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: rgba(255, 255, 255, 0);
  z-index: 9999;
}
.logo-w {
  display: block;
}
.logo-g {
  display: none;
}
.header-active {
  background-color: rgba(255, 255, 255, 1);
}
.header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center ;
  height: 100%;
}
.header-right {
  display: flex;
  justify-content: space-between;
  align-items: center ;
  gap:0 50px;
}
.language-box {
  padding-top: 25px;
}
.language-word {
  position: relative;
  display: block;
  padding-right: 22px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.83px;
  color: #333;
  cursor: pointer;
}
.language-word::after {
  content: "";
  display: inline-block;
  background: url("../images/select_icon2.png") no-repeat;
  background-size: cover;
  width: 8px;
  height: 7px;
  position: absolute;
  top: 6px;
  right: 0;
}
.language {
   /* visibility: hidden; */
}
.language li {
  transform: translateY(-10px);
  opacity: 0;
  visibility: hidden;
  /* js로 기능 추가 */
  /* transition: all 0.2s; */ 
}
.language-box-active .language li{
  transform: translateY(0px);
  opacity: 1;
  visibility: visible;
}
.language li a{
    display: block;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.83px;
    color: #333;
    padding: 5px 0;
}
.bt-menu {
    display: inline-block;
    width: 37px;
    height: 12px;
    margin-left: 50px;
    font-size: 0;
    background: url(../images/toggle_navi.png) no-repeat;
    background-size: cover;
    border: none;
    cursor: pointer;
  }