@charset "utf-8";

.mcenter{
    position: relative;
    padding: 100px 0;
}
.mcenter .inner h2{
    font-size: 70px;
    font-weight: 600;
    letter-spacing: -2.5px;
    color: #333;
}
.mcenter .inner >p{
    margin-top: 25px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.5px;
    color: #484848;
}
.mcenter-board{
    padding-left: 7.5%;
    padding-top: 30px;
}
.mcenter-list{
border-top: 1px solid #333;
}
.mcenter-list li{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e2e2e2;
    padding: 35px 0;
}
.mcenter-category{
    font-size: 16px;
    font-weight: 300;
    letter-spacing: -0.8px;
    color: #464646;
}
.mcenter-link{
    display: block;
    width: 65%;
}
.mcenter-list-title{
 font-size: 26px;   
 font-weight: 400;
 letter-spacing: -1.3px;
 color: #464646;
 overflow: hidden;
 white-space: nowrap;
 text-overflow: ellipsis;
 line-height: 28px;
}
.mcenter-list-txt{
    margin-top: 16px;
    font-size: 14px;
    font-weight: 400;
  line-height: 1.71;
  letter-spacing: -0.35px;
  color: #808080;
  /* 2줄 말줄임 */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  word-wrap: break-word;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 50px;
  
}
.mcenter-list-date {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: -0.7px;
    color: #b1b1b1;
    width: 230px;
    text-align: right;
  }
  