@charset "utf-8";
@media screen and (max-width: 1080px) {
  .inner {
    padding: 0 40px !important;
  }
  .news-top {
    padding-top: 10%;
  }
  .news-more {
    margin-top: 8%;
  }
}
@media screen and (max-width: 960px) {
  .news .inner {
    flex-wrap: wrap;
  }
  .news-left {
    width: 100%;
    margin-bottom: 50px;
    height: auto;
    text-align: center;
  }
  .news-top {
    padding-top: 0;
  }
  .news-more {
    margin-top: 5%;
  }
  .news-bottom {
    margin-top: 50px;
  }
  .news-photo {
    height: auto;
  }
  .news-right {
    width: 100%;
  }
  .news-link {
    text-align: center;
  }
  .news-link img {
    height: auto;
  }
  .mcenter .inner h2,
  .mcenter .inner p {
    text-align: center;
  }
}
@media screen and (max-width: 880px) {
  .copy {
    flex-wrap: wrap;
  }
  .copy-left {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }
  .copy-right {
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 760px) {
  .inner {
    padding: 0 20px !important;
  }
}
